    .containerS {
        width:100%;
        background-color: transparent;
        margin-right: 35px;
        margin-top: 15px;
        max-width: 1000px;
    }
    .progressbar {
    }
    .progressbar li {
        list-style-type: none;
        float: left;
        width: 20%;
        position: relative;
        text-align: center;
        
    }
    .progressbar li:before {
        content: '';
        width: 20px;
        height: 20px;
        border: 2px solid black;
        display: block;
        text-align: center;
        margin: 0 auto 1px auto;
        border-radius: 50%;
        line-height: 20px;
        background-color: #FFE16E;
    }
    .progressbar li:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        top: 9px;
        left: -50%;
        z-index: -1;
    }
    
    .progressbar li.active:before{
        background-color: black;
    
    }

    .progressbar li.active + li:after{
        height: 4px;
        top: 8px;
    }

    .progressbar li:first-child:after {
        content:none;
    }

    .headerColor{
        background-color:#FFE16E;
    }

    
    @media all and (max-device-width: 640px){
        .progressbar li:before {
            background-color: #FED124;
        }
        .headerColor{
            background-color:#FED124;
        } 
    }

 