
.textSSM{   font-size: 16px;    }
.textSS {   font-size: 16px;    }
.textSM {   font-size: 20px;    }
.textS  {   font-size: 20px;    }
.textM  {   font-size: 25px;    }
.textL  {   font-size: 30px;    }
.textXL {   font-size: 20px;    }
.headS  {   font-size: 20px;    font-weight: bold;    }
.headM  {   font-size: 30px;    font-weight: bold;    }
.headL  {   font-size: 35px;    font-weight: bold;    }
.headXL {   font-size: 40px;    font-weight: bold;    }
.headXXL{   font-size: 45px;    font-weight: bold;    }

.infoM  {   font-size: 25px;    }
.infoS  {   font-size: 20px;    }

@media all and (max-device-width: 1024px){
}



@media all and (max-device-width: 640px){
    .headM  {   font-size: 27px;    font-weight: bold;    }
    .headL  {   font-size: 30px;    font-weight: bold;    }
    .headXL {   font-size: 37px;    font-weight: bold;    }
    .textSSM{   font-size: 16px;    }
    .textSM {   font-size: 18px;    }
}

@media all and (max-device-width: 375px){
    .headM  {   font-size: 25px;    font-weight: bold;    }
    .headL  {   font-size: 27px;    font-weight: bold;    }
    .headXL {   font-size: 35px;    font-weight: bold;    }
    .textSSM{   font-size: 15px;    }
    .textSS {   font-size: 16px;    }
    .textSM {   font-size: 17px;    }
    .textS  {   font-size: 18px;    }
    .textM  {   font-size: 22px;    }
    .infoM  {   font-size: 22px;    }
    .infoS  {   font-size: 18px;    }
    
}

@media all and (max-device-width: 320px){
    .headM  {   font-size: 20px;    font-weight: bold;    }
    .headL  {   font-size: 23px;    font-weight: bold;    }
    .headXL {   font-size: 30px;    font-weight: bold;    }
    .textSSM{   font-size: 12px;    }
    .textSS {   font-size: 14px;    }
    .textSM {   font-size: 14px;    }
    .textS  {   font-size: 15px;    }
    .textM  {   font-size: 19px;    }
    .infoM  {   font-size: 20px;    }
    .infoS  {   font-size: 16px;    }
}