.neutral {
  background-color: #C4C4C4;
  border: solid 1px #000000;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  width: 30px;
  
}

.positive {
  background-color: #68DB40;
  border: solid 1px #000000;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  width: 30px;
}

.negative {
  background-color: #F86767;
  border: solid 1px #000000;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  width: 30px;
}

.boxC{
  width: 100%;
  max-width: 350px;
  background-color: #FFE16E;
  border-radius: 12px;
  padding: 1px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

@media all and (max-device-width: 500px){
  .boxC{
    margin-left: 0px;
    margin-right: 0px;
    background-color: #FED124;
  }
}